div#container {
    height: 0px;
    overflow: visible;
}

div#container div#alignment-box {
    position: relative;
    width: 84px;
    margin-left: auto;
    top: -70px;
}

div#launcher {
	position: absolute;
	float: right;
	cursor: pointer;
	top: 8px;
	left: 0px;
	background: url('/images/paperplane-256.png');
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	z-index: 100;
}

div#launcher.no-webgl {
	opacity: 0.2;
	/* background: url('/images/paperplane-256.png'); TODO: no webgl2 image; */
}

div.arrows-marker {
	position: absolute;
	/* background: #0f03;*/
	transform: scale(1.0);
	margin: 0px;
    top: 3px;
    left: -4px;
	width: 40px;
	height: 40px;
	opacity: 0.2;
	transition: opacity 0.2s;
}

div.arrows-marker.hover {
	opacity: 1;
}


div.arrows-marker div {
	background: url('/images/orange-arrow.svg');
	width: 12px;
	height: 15px;
	position: absolute;
	z-index: 10;
	opacity: 1;
}

#marker-left {
	transform: rotate(90deg) scale(1.0);
	margin-top: -7.5px;
	left: -20px;
	top: 50%;
}

#marker-right {
	transform: rotate(270deg) scale(1.0);
	margin-top: -7.5px;
	right: -20px;
	top: 50%;
}



@media screen and (min-width: 400px) and (max-width: 700px) {
	div#launcher {
		top: -42px;
	}

	div.arrows-marker {
	    top: -47px;
	}
}

div.arrows-marker.hidden {
	opacity: 0;
}

@media screen and (max-width: 400px) {
	div#launcher {
		top: -50px;
		left: 10px;
	}

	div.arrows-marker {
	    top: -55px;
		left: 10px;
	}
}

div.arrows-marker.hidden {
	opacity: 0;
}