/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v16/Zd2E9abXLFGSr9G3YK2MsD86pq2NkPzVgw_9lpT6RGI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v16/Zd2E9abXLFGSr9G3YK2MsDAdhzWOYhqHvOZMRGaEyPo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@import '~angular2-lightbox/lightbox.css';

/*
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
*/

/* default theme palette 
#5d2800
#e27001
#feb820
#929984
#155767
*/


body {
  background-color: #241831;
  /*background-image: url('/images/bg-color.png');*/
  background-repeat: repeat;
  color: whitesmoke;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  overflow-y: scroll;
}
/*
body * {
  overflow-y: visible;
}
*/
body > img#bg-image {
  content: url('/images/004.png');
  background-image: url('/images/004.png');
  width: 1920px;
  height: 1920px;
  bottom: -500px;
  position: fixed;
  z-index: -2;
  pointer-events: none;
}

@media screen and (max-width: 480px) {
  body > img#bg-image {
    content: url('/images/004-480.png');
    background-image: url('/images/004-480.png');
    width: 480px;
    height: 480px;
    bottom: -130px;
  }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
  body > img#bg-image {
    content: url('/images/004-600.png');
    background-image: url('/images/004-600.png');
    width: 600px;
    height: 600px;
    bottom: -160px;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  body > img#bg-image {
    content: url('/images/004-800.png');
    background-image: url('/images/004-800.png');
    width: 800px;
    height: 800px;
    bottom: -210px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  body > img#bg-image {
    content: url('/images/004-1024.png');
    background-image: url('/images/004-1024.png');
    width: 1024px;
    height: 1024px;
    bottom: -270px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  body > img#bg-image {
    content: url('/images/004-1200.png');
    background-image: url('/images/004-1200.png');
    width: 1200px;
    height: 1200px;
    bottom: -310px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  body > img#bg-image {
    content: url('/images/004-1600.png');
    background-image: url('/images/004-1600.png');
    width: 1600px;
    height: 1600px;
    bottom: -420px;
  }
}

body > div#bg-overlay {
  /*background: url('/images/bg-overlay-001.png');
  background: #74a2fd;*/
  background: #487de4;
  opacity: 0.3;
  position: fixed;
  width: 100%;
  height: 200%;
  z-index: -1;
  pointer-events: none;
}

.content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  overflow-x: hidden;
  padding-left: 4px;
  padding-right: 4px;
}

.whiteline {
  width: 100%;
  height: 1px;
/*  background-color: #fbb300;*/
  background-color: whitesmoke;
  opacity: 0.75;
}

.mat-button.selected-color {
  color: #fbb300;
}
