<div class="content-width">

	<div class="prev-button breadcrumb-nav" [class.disabled]="!prevTarget" (click)="goPrev()" [attr.aria-label]="prevTooltip" [matTooltip]="prevTarget ? prevTooltip : ''">
		<svg height="42" width="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" focusable="false">
		    <polygon points="2 21, 18 37, 18 5"/>
		</svg>
	</div>

	<div class="up-button breadcrumb-nav" [class.disabled]="!upTarget" (click)="goUp()" [attr.aria-label]="upTooltip" [matTooltip]="upTooltip">
		<svg height="42" width="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" focusable="false">
		    <polygon points="21 8, 37 24, 5 24"/>
		</svg>
	</div>

	<div class="next-button breadcrumb-nav" [class.disabled]="!nextTarget" (click)="goNext()" [attr.aria-label]="nextTooltip" [matTooltip]="nextTarget ? nextTooltip : ''">
		<svg height="42" width="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" focusable="false">
		    <polygon points="40 21, 24 37, 24 5"/>
		</svg>
	</div>

</div>