<div class="container7">
	<app-menu></app-menu>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
	<app-footer></app-footer>


	<button mat-fab class="bottom-right doc-scroll" [class.scrolling]="isScrolling" (click)="scrollTop()" aria-label="Back to Top">
		<mat-icon mat-svg aria-hidden="true">
			<svg height="100%" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
			    <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path>
			    <path d="M0 0h24v24H0z" fill="none"></path>
			</svg>
		</mat-icon>
	</button>


</div>

