<div class="logo content-width">
  <a [routerLink]="['/news']"><img src="/images/white-logo-horizontal.png"></a>
</div>
<div class="whiteline"></div>
<div id="mainmenu">
  <div class="content-width">
    <nav mat-tab-nav-bar>
      <a mat-tab-link [routerLink]="['/news']" [active]="this.router.url === '/news'"> News </a>
      <a mat-tab-link [routerLink]="['/about']" [active]="this.router.url === '/about'"> About </a>
      <!--<a mat-tab-link [routerLink]="['/showcase']" [active]="this.router.url === '/showcase'"> Showcase </a>-->
      <a mat-tab-link [routerLink]="['/blog']" [active]="this.router.url === '/blog'"> &lt; Dev-Blog &gt; </a>
    </nav>
  </div>
</div>
<app-paperplane-launcher></app-paperplane-launcher>
