
<div id="mainmenu">

  <div class="content-width">
    <div class="menu-table">
      <div class="menu-row">
        <div class="menu-cell">
          <a [routerLink]="['/']"><div class="logo"></div></a>
        </div>
        <div class="menu-cell menu-spacer"></div>        
        <div class="menu-cell menu-buttons" style="padding-top: 21px">
          <a mat-button *ngFor="let link of menu" [routerLink]="link.url" [class.selected-color]="this.router.url.startsWith(link.url)">{{link.name}}</a>
        </div>
      </div>
    </div>
  </div>

  <app-paperplane-launcher></app-paperplane-launcher>

  <div class="whiteline"></div>
</div>
