div.table {
    display: table;
    height: fit-content;
}

div.row {
    display: table-row;
    height: fit-content;
}

div.cell {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    padding-right: 4px;
}

div.cell:last-child {
    padding-right: 0px;
}

