<div class="content-width">
    <h3>The Company</h3>

    <p><strong>Aileron d.o.o.</strong> (LLC) is a company based in Split, Croatia...</p>
    <p>We enjoy in breaking new grounds in software applications connecting various technology fields in new ways. Our work is based on great experience in simulation software, games development, open technologies, 3d software, virtual reality and AI, with hands-on experience in robotics, cnc, 
    motion capture, and a lot <a [routerLink]="['/news']">more...</a></p>

    <div>Company data...</div>

    <h3>The Team</h3>
    
    <p><strong>Davor Bokun</strong> si a senior software development engineer with engineer's degree in Computer Science and notable experience in full life cycle of the software design process including requirements definition, prototyping, proof of concept, software architecture design, interface implementation, testing, and maintenance. Certified hang gliding flight instructor, a father, dungeon master, gamer, computerphile, and science enthusiast. </p>

    <h3>Location</h3>

    <div>The map...</div>

    <h3></h3>


</div>
