<div class="content-width">
<mat-card>
  <mat-card-title>About us..</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <p>Aileron d.o.o. (LLC) is a company based in Split, Croatia...</p>
    <p>We enjoy in breaking new grounds in software applications connecting various technology fields in new ways. Our work is based on great experience in simulation software, games development, open technologies, 3d software, virtual reality and AI, with hands-on experience in robotics, cnc, 
    motion capture, and a lot <a [routerLink]="['/news']">more...</a></p>
  </mat-card-content>

  <mat-card-subtitle>(Last update on 2017-11-04)</mat-card-subtitle>
  <mat-card-actions></mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
</div>
